body {
    margin: 0;
    overflow: hidden;
    background: black;
    cursor: url('../assests/Cursor.png'), auto;
}

canvas {
    background: url("../assests/Canvas_bg.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
}
